<p>editor works!</p>

<table mat-table [dataSource]="personArray">
  <mat-text-column headerText="Display Name" name="displayName">
  </mat-text-column>

  <mat-text-column headerText="Family Name" name="familyName">
  </mat-text-column>

  <ng-container matColumnDef="familyNamePhonetic">
    <th mat-header-cell *matHeaderCellDef span="2">Family Name Phonetic</th>
    <td mat-cell *matCellDef="let person">{{person.familyNamePhonetic}}</td>
  </ng-container>

  <ng-container matColumnDef="familyNamePhoneticChanged">
    <th mat-header-cell *matHeaderCellDef style="display: none;"></th>
    <td mat-cell *matCellDef="let person"
        [class.changed]="person.familyNamePhonetic !== person.familyNamePhoneticChanged">
      ⇒
      <input [(value)]="person.familyNamePhonetic">
    </td>
  </ng-container>

  <mat-text-column headerText="Given Name" name="givenName">
  </mat-text-column>

  <ng-container matColumnDef="givenNamePhonetic">
    <th mat-header-cell *matHeaderCellDef span="2">Given Name Phonetic</th>
    <td mat-cell *matCellDef="let person">{{person.givenNamePhonetic}}</td>
  </ng-container>

  <ng-container matColumnDef="givenNamePhoneticChanged">
    <th mat-header-cell *matHeaderCellDef style="display: none;"></th>
    <td mat-cell *matCellDef="let person"
        [class.changed]="person.givenNamePhonetic !== person.givenNamePhoneticChanged">
      ⇒
      <input [(value)]="person.givenNamePhonetic">
    </td>
  </ng-container>
</table>
